@charset "UTF-8";

body {
    color: var(--warm-white);
}


/* header+hero */

.hero_background {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../img/blog-article-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    padding-bottom: 2.5rem;
}

.hero__tittle {
    font-size: 50px;
    color: var(--warm-white);
}

.hero__date {
    color: var(--ginger);

}

/* questions */

.questions {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--dark-blue);

    @media (max-width: 767.98px) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.questions__block {
    margin-bottom: 5rem;

    @media (max-width: 767.98px) {
        margin-bottom: 2.5rem;
    }
}

.questions__tittle {
    margin-bottom: 1.25rem;
    font-family: var(--second-family);
    font-size: 40px;
}

.questions__text {
    margin-bottom: 1.25rem;
    font-size: 22px;
    line-height: 123%;
}

.block__photo {
    width: 50%;
    height: fit-content;
}

.treatmens {
    margin-bottom: 5rem;

    @media (max-width: 767.98px) {
        margin-bottom: 2.5rem;
    }
}

.treatmens__tittle-block {
    margin-bottom: 2.5rem;
}

.treatmens__tittle {
    flex-grow: 1;
    margin-right: 20px;
    font-family: var(--second-family);
    font-size: 50px;
    font-weight: 400;
    color: var(--warm-white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--warm-white);

}

.treatmens__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.treatmens__button {
    padding: 15px 69px;
}

@media  (max-width: 991.78px) {

    h1, h2 {
    font-size: 40px !important;
    }
    p {
        font-size: 16px !important;
    }
}



