@charset "UTF-8";

/* TODO Пока будем формировать для каждой страницы свой файл scss */

/* TODO Если блок к примеру используется в двух шаблонах,
    то создавай отдельный scss для такого блока и испортируй его в те 2 шаблона.
    @import "block-big-preview"; */
body {
    color: var(--warm-white);
}

/* header+hero */

.hero_background {
    background-image:
            linear-gradient(360deg, rgb(8 18 38 / 0%) 0%, rgb(8 18 38 / 70%) 33%),
            url('../img/image-banner-massage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* section questions */

.questions {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--dark-blue);
}

.questions__list {
    margin: 0;
    padding: 0;
}

/* TODO исправить грамматические ошибки не contant а content */
.questions_contant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 453px;
    margin-bottom: 1rem;
    padding: 40px;
    background-color: rgb(0 0 0 / 30%);
    background-position: center;
    background-size: cover;
}

.questions_contant::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-180deg);
    background: linear-gradient(360deg, rgb(8 18 38 / 0%) 0%, rgb(8 18 38 / 70%) 100%);
}

/* TODO и как потом этим управлять ?) Вставляй картинки через <img в коде айтема */
.questions_block_1{
    background-image: url("../img/blog-questions/preview-1.jpg");
}

.questions_block_2{
    background-image: url("../img/blog-questions/preview-2.jpg");
}

.questions_block_3{
    background-image: url("../img/blog-questions/preview-3.jpg");
}

.questions_block_4{
    background-image: url("../img/blog-questions/preview-4.jpg");
}

.questions_block_5{
    background-image: url("../img/blog-questions/preview-5.jpg");
}

.questions_block_6{
    background-image: url("../img/blog-questions/preview-6.jpg");
}

.questions_date {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--ginger);
}

/* TODO исправить орфографию */
.quextions_text {
    z-index: 1;
    margin-top: auto;
    font-family: var(--second-family);
    font-size: 40px;
    font-weight: 400;
    color: var(--warm-white);
}

.questions_btn {
    padding: 15px 54px;
}

.pagination ul {
    display: inline-flex;
    padding: 0;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    background-color: rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.pagination .active {
    color: var(--warm-white);
    background-color: rgb(0 0 0 / 30%);
}

/* section locations */

.location {
    --offsets: 20px;

    background-image: url("../img/blog-locations-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.location__container {
    max-width: 1164px;
}

.location__tittle {
    flex-grow: 1;
    margin-right: 20px;
    font-family: var(--second-family);
    font-size: 50px;
    font-weight: 400;
    color: var(--warm-white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--warm-white);
}

.location__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location__item:not(:last-child) {
    max-width: 546px;
}


.item__tittle {
    flex-grow: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 9px;
    font-family: var(--second-family);
    font-size: 25px;
    color: var(--ginger);
    border-bottom: 1px solid var(--warm-white);
}

.item-btn {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.item__link {
    width: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px !important;
    }

    h2, h3 {
        font-size: 25px !important;
    }

    p {
        font-size: 16px !important;
    }
}
