//Choose-options block

.choose-options {
    padding-bottom:  5rem;
    background-color: var(--dark-blue);

}

.options__img {
    position: absolute;
    top: 0;
    left: 0;
}

.options__tittle {
    margin-bottom: 1.25rem;
    font-family: var(--second-family);
    color: var(--ginger);
    font-size: 40px;
}

.options__text {
    margin-bottom: 1.25rem;
    font-size: 22px;
    line-height: 123%;
}
