@charset "UTF-8";

.mb-3rem {
    margin-bottom: 3rem;
}

/* header+hero */

.hero {
    padding-bottom: 4rem;

    @media (max-width: 767.67px) {
        padding-bottom: 4rem;
    }
}

.hero_background {
    position: relative;
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(360deg, rgba(8, 18, 38, 0%) 0%, rgba(8, 18, 38, 70%) 33%);
        z-index: 1;
    }
}

.hero__tittle-block {
    margin-bottom: 5rem;

    @media (max-width: 767.67px) {
        margin-bottom: 2.5rem;
    }
}

.hero__text {
    margin-bottom: 2.5rem;
}

.hero__tittle-text {
    margin-bottom: 0;
}

.hero__text-alter {
    font-family:var(--second-family);
    font-size:25px
}

/* .choose-options */

.choose-options {
    position: relative;
    background-image: url('../img/contacts-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 2.5rem;
}

.options__tittle {
    color: var(--warm-white);
}

/* branches */

.branches {
    padding: 2.5rem 0;
    position: relative;
    background-image: url('../img/massage-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Bath ritual */

.bath__rituals {
    padding: 5rem 0;

    @media (max-width: 767.67px) {
        padding: 2.5rem 0;
    }
}

.ritual__tittle-block {
    p {
        font-family: var(--second-family);
        font-size: 20px;
    }

}

.ritual__tittle {
    position: relative;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: var(--second-family);
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--warm-white);
}

.ritual__tittle-text {
    left: 7.5rem;
}

.ritual__text-block {
    margin-bottom: 5.3125rem;
}

.ritual__text {
    font-size: 22px;
    line-height: 123%;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    @media (max-width: 767.76px) {
        font-size: 16px;
    }
}

/* best__beauty */

.best__beauty, .massage__overview {
    padding: 5rem 0;

    @media (max-width: 767.67px) {
        padding: 2.5rem 0;
    }
}

/* Price */

.price {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 35%;
        transform: translateX(-50%);
        width: 1px;
        background-color: var(--dark-blue);
    }

}

.price__bg-1 {
    position: relative;
    //height: 300px;
    background-image: url('../img/price/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--dark-blue);
}


.price__tittle {
    font-family: var(--second-family);
    font-size: 50px;
    text-transform: uppercase;
}

.price__text {
    font-size: 22px;
    line-height: 123%;
}

/* price ul */

.service-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--warm-white);
    background-color: var(--dark-blue);

    li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 22px;
        line-height: 123%;

        &:not(:last-child) {
            border-bottom: 1px solid var(--warm-white);
        }

        &:last-child {
            margin-top: 2.5rem;
        }


        .service-name {
            flex: 1;
            text-align: left;
        }

        .service-details {
            text-align: right;
        }

        .price-col {
            color: var(--ginger);
        }
    }
}
