/* section locations */

.location {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    background-image: url("../img/blog-locations-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.location__tittle-block {
    margin-bottom: 2rem;
}

.location__tittle {
    flex-grow: 1;
    margin-right: 20px;
    font-family: var(--second-family);
    font-size: 50px;
    font-weight: 400;
    color: var(--warm-white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--warm-white);
}

.location__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location__item:not(:last-child) {
    max-width: 546px;
}


.item__tittle {
    flex-grow: 1;
    margin-right: 1rem;
    padding-bottom: 9px;
    font-family: var(--second-family);
    font-size: 25px;
    color: var(--ginger);
    border-bottom: 1px solid var(--warm-white);
}

.item__text {
    width: 100%;
    line-height: 1.2;
}

.item-btn {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.item__link {
    width: 100%;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}
