@charset "UTF-8";

/* TODO используй main для элементов, которые встречатся на всем сайте или на большинстве страниц, типа футера */
:root {
        --font-family: "Ubuntu", sans-serif;
        --second-family: "Noto-Serif-Display-Regular", sans-serif;
        --second-family-italic: "Noto-Serif-Display-Italic", sans-serif;
        --third-family: "Rubik", sans-serif;
        --ginger: #cb945c;
        --brown: #7a5e4d;
        --dark-blue: #081226;
        --warm-white: #fbf9f5;
        --white: #fff;
        --black: #000;
        --whatsapp: #25d366;
        --whatsapp-2: #39a861;
        --warm-white-20: rgb(251 249 245 / 20%);
        --nakladyvayuschiesya-menyu: rgb(8 18 38 / 80%);
        --gap: 8px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family);

    /* TODO нахера 22px ?) для боди */
    font-size: 22px;
    font-weight: 400;

}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Ubuntu-Regular'),
    url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Noto-Serif-Display-Regular;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Noto Serif Display Regular'),
    url('../fonts/NotoSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Noto-Serif-Display-Italic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Noto Serif Display Italic'),
    url('../fonts/NotoSerifDisplay-Italic.ttf') format('truetype');
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
}

.btn-whatsapp {
    padding: 15px 12.5px;
    color: var(--dark-blue);
    background-color: var(--warm-white);
    outline: none;
    fill: var(--dark-blue);
    transition: background-color 0.3s ease, border-color 0.3s ease, fill 0.3s ease, color 0.3s ease;
}

.btn-whatsapp:focus {
    background-color: var(--warm-white);
    outline: 1px solid var(--whatsapp);
}

.btn-whatsapp:hover {
    color: var(--warm-white);
    background-color: var(--whatsapp-2);
    fill: var(--warm-white);
}

.btn-whatsapp:active {
    color: var(--warm-white);
    background-color: var(--whatsapp);
    fill: var(--warm-white);
}

.btn-scnd {
    padding: 15px 10px;
    color: var(--warm-white);
    background: transparent;
    border: 1px solid var(--warm-white);
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-scnd:focus {
    background-color: 5px solid var(--brown);
}

.btn-scnd:hover {
    background-color: var(--brown);
    border-color: var(--brown);
}

.btn-scnd:active {
    background-color: var(--ginger);
    border-color: var(--ginger);
}

.btn-scnd-sml {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--warm-white);
    background: transparent;
    border: 1px solid var(--warm-white);
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-scnd-sml:focus {
    background-color: 5px solid var(--brown);
}

.btn-scnd-sml:hover {
    background-color: var(--brown);
    border-color: var(--brown);
}

.btn-scnd-sml:active {
    background-color: var(--ginger);
    border-color: var(--ginger);
}

.btn-scnd-sml svg {
    margin-left: 15px;
}

.header {
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 400;
    color: var(--warm-white);
    text-align: center;
    text-transform: uppercase;
}

.header__nav {
    background-color: transparent !important;
}

.nav__list {
    color: var(--warm-white);
}

.hero__tittle {
    font-family: var(--second-family);
    font-size: 100px;
    font-weight: 400;
    color: var(--ginger);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.hero__tittle-text {
    margin-bottom: 80px;
    font-family: var(--second-family-italic);
    font-size: 50px;
    font-weight: 400;
    color: var(--ginger);
    text-align: center;
}

.hero__text {
    max-width: 690px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 123%;
    color: var(--warm-white);
    text-align: center;
}

.footer {
    color: var(--dark-blue);
}

.footer__contant-top {
    padding: 10px 0;
    border-bottom: 1px solid var(--dark-blue);
}

.footer__tittle {
    color: var(--dark-blue);
    text-transform: uppercase;
    border-bottom: 1px solid var(--dark-blue);
}

a .footer__tittle {
    border-bottom: none;
}

.footer-link {
    font-size: 16px;
    color: var(--dark-blue);
}

.footer__social {
    fill: var(--dark-blue);
}
