@charset "UTF-8";

body {
    color: var(--warm-white);
}

/* header+hero */

.hero_background {
    position: relative;
    background-image: url('../img/our-offers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_background::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, rgb(8 18 38 / 0%) 0%, rgb(8 18 38 / 70%) 33%);
    z-index: 1;
}

.hero {
    padding-bottom: 5rem;

    @media (max-width: 766.67px) {
        padding-bottom: 5rem;
    }
}

.hero__tittle-block {
    margin-bottom: 5rem;

    @media (max-width: 767.67px) {
        margin-bottom: 2.5rem;

        .hero__tittle {
            font-size: 75px !important;
        }

    }
}


.hero__tittle-text {
    margin-bottom: 0;

    @media (max-width: 767.67px) {
        font-size: 25px !important;
    }
}

.hero__text {
    margin-bottom: 2.5rem;
}

.hero__text-alter {
    font-family: var(--second-family);
    font-size: 25px;

}

.offers {
    padding-top: 5rem;
    background-image:
        linear-gradient(360deg, rgb(8 18 38 / 0%) 0%, rgb(8 18 38 / 70%) 33%),
        url('../img/contacts-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 767.67px) {
        padding-top: 2.5rem;
    }
}

.offers__list {
   margin-bottom: 5rem;

    @media (max-width: 757.67px) {
        margin-bottom: 2.5rem;
    }
}

.offers__img {
    width: auto;
    margin-bottom: 2.5rem;
}

.offers__tittle {
    font-family: var(--second-family);
    font-size: 40px;
}

.offers__text {
    font-size: 22px;
    line-height: 123%;
    color: var(--ginger);
}


@media (max-width: 767.67px) {

    .hero__text {
        font-size: 16px;
    }

    .hero__text-alter {
        font-size: 25px;
    }
}
