@charset "UTF-8";

body {
    color: var(--warm-white);
}

/* header+hero */

.hero_background {
    background-image:
        linear-gradient(360deg, rgb(8 18 38 / 0%) 0%, rgb(8 18 38 / 70%) 33%),
        url('../img/therapists.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__text {
    margin-bottom: 5rem;

    @media (max-width: 767.67px) {
        margin-bottom: 2.5rem;
    }
}

.hero__img {
    position: absolute;
    transform: translateY(20%);
    bottom: 0;
}

.nav_tittle {
    position: relative;
    font-family: var(--second-family);
    font-size: 25px;
    text-align: center;
}

.hero__nav {
    font-size: 22px;
    line-height: 123%;
}

.nav_top {
    border-bottom: 1px solid var(--white);
}

//Branches

.branches {
    margin: 5rem 0;

    @media (max-width: 767.67px) {
        margin: 2.5rem 0;
    }
}

.branches__item {
    margin-bottom: 5rem;

    &:not(:first-child) {
        padding-top: 5rem;
    }

    @media (max-width: 767.67px) {
        margin-bottom: 2.5rem;

        &:not(:first-child) {
            padding-top: 2.5rem;
        }
    }
}

.branches__card-list {
    overflow: scroll;

    @media (max-width: 767.67px) {
        flex-wrap: nowrap;
        gap: 20px;
    }
}

.branches__card {
    position: relative;

    @media (max-width: 767.67px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 256px;
        padding: 1.25rem;
        justify-content: end;

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
             z-index: 1;
        }

        .card__tittle {
            z-index: 2;
        }

        .card__text {
            z-index: 2;
        }
    }
}

.card__tittle {
    font-family: var(--second-family);
    font-size: 40px;
}

.card__text {
    font-size: 16px;
}

@media (max-width: 767.67px) {
    h1, h2 {
        font-size: 50px !important;
    }

    .hero__tittle-text {
        font-size: 25px !important;
    }

    p {
        font-size: 16px;
    }
}

